// Specific CSS for your home-page

body {
  background-color: #f7ddc4;
}


footer {
  background-color: #B4846C;
}

footer:hover {
  background-color: #7D5A50;
}

.btn-block:hover {
  background-color: #f7ddc4 ;
}

.list-unstyled {
  line-height: 2.0;
}

.lists {
    font-family: Georgia, serif;
    font-size: 22px;
    line-height: 1.5;
}
