.form-wrapper {
  background-color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 40px;
}

.new-form {
  border-radius: 8px;
  background-color: white;
  font-family: $body-font;
}

.form-header {
  margin-top: 12px;
}
