.trusted-logo {
  width: auto;
  height: 60px;
}

.container .row .trusted-font h5 {
  padding-top: 20px;
  padding-left: 0px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(198, 196, 196);
}
